@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

html,
body,
#root,
.App {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.text-16 {
  font-size: 16px;
  color: #2d2d3a;
}

.text-14 {
  font-size: 14px;
  color: #2d2d3a;
}

.text-12 {
  font-size: 12px;
  color: #ababb0;
}
